@media (max-width: 1399px) {
	.material {
		.grid {
			width: 760px;
		}
	}
}

@media (max-width: 1199px) {
	.news { /* адаптирую нижние края новостей, когда у меня ширина становится такой, что описание к картинке переезжает вниз */
		.news__text {
			border-bottom-left-radius: 13px;
		}
		.news__img {
			img {
				border-bottom-left-radius: 0px;
			}
		}
	}
	.material { /* это адаптация для страниц с материалом абсолютно для всех плиток */
		.grid {
			width: 760px;
		}
	}
}

@media (max-width: 991px) {
	.promo {
		.promo__header {
			color: #CC3300;
		}
		.promo__text {
			font-size: 20px;
			line-height: 24px;
		}
	}
	.news {
		.tabcontainer {
			justify-content: space-between !important; //медиа запрос перебивается
		}
	}
	.material {
		.title_desktop { 
			display: none;
		}
		.title_mobile {
			display: block;
		}
		.grid {
			width: 660px;
			&__item {
				width: 300px;
			}
			&__header {
				font-size: 30px;
			}
			&__descr {
				font-size: 18px;
			}
		}
	}
}

@media (max-width: 767px) {
	.header {
		.header__wrapper {
			width: 500px;
		}
	}
	.news {
		.tabcontent {
			.tabcontent__descr {
				left: 110px;
			}
		}
	}
	.promo {
		.promo__wrapper {
			position: relative;
			.promo__descr {
				z-index: 2;
			}
			.promo__img {
				position: absolute;
			}
		}
	}
	.material {
		.grid {
			width: 300px;
			&__item {
				margin: 0;
				margin-top: 20px;
			}
		}
	}
}

@media (max-width: 575px) {
	.header {
		.header__wrapper {
			width: 350px;
		}
	}
	.news {
		.tabcontent {
			.tabcontent__descr {
				top: 270px;
				left: 10px;
			}
		}
		.tabheaders {
			position: absolute;
			top: 20px;
			left: 20px;
			background-color: rgba(204, 204, 204, 0.8);
			padding: 10px;
			border-radius: 10px;
			.tabheader {
				margin-top: 0 !important; //основной стиль перебивает этот медиа запрос! какая-то хуйня!!
				&:last-child {
					margin-top: 10px !important;
				}
			}
		}
	}
	.promo {
		.promo__descr {
			margin: 10px;
		}
		.promo__img {
			width: 400px;
		}
	}
}

@media (max-width: 445px) {
	.news {
		.tabcontent {
			.tabcontent__descr {
				width: 350px;
			}
		}
	}
}

@media (max-width: 430px) {
	.promo {
		.promo__img {
			width: 350px;
		}
	}
	.news {
		.news__subheader {
			font-size: 26px;
		}
	}
	.material {
		.grid__header {
			font-size: 24px;
		}
	}
}

@media (max-width: 400px) {
	.material {
		.grid__item {
			padding: 25px;
		}
	}
	.news {
		.tabcontent {
			.tabcontent__descr {
				width: 320px;
			}
		}
	}
}

@media (max-width: 374px) {
	.promo {
		.promo__img {
			width: 300px;
		}
	}
	.material {
		.grid {
			width: 280px;
			.grid__item {
				width: 280px;
			}
		}
	}
	.news {
		.tabcontent {
			.tabcontent__descr {
				width: 310px;
			}
		}
	}
}