.grid {
	width: 1140px;
	&__item {
		z-index: 1;
		display: block;
		text-decoration: none;
		margin: 15px;
		padding: 30px;
		width: 350px;
		border-radius: 10px;
		background-color: #333333;
		transition: 0.5s all;
		box-shadow: 0 0 0;
		&_red-hover {
			&:hover {
				background-color: #CC0033;
			}
		}
		&_red-active {
			&:active {
				background-color: #FF3333;
			}
		}
		// &:hover {
		// 	background-color: #CC0033;
		// }
		// &:active {
		// 	background-color: #FF3333;
		// }
	}
	&__header {
		font-weight: 600;
		font-size: 36px;
		color: #fff;
	}
	&__descr {
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
		color: #fff;
		&-link {
			display: inline-block;
			margin-top: 10px;
			padding: 5px 20px;
			background: #000000;
			border: 1px solid #000000;
			border-radius: 20px;
			color: #fff;
			text-decoration: none;
			text-align: center;
			&:hover {
				background-color: #CC0033;
				color: #fff;
			}
		}
	}


	&_two-columns {
		width: 760px;
		margin: 0 auto;
	}
	&_three-columns {
		width: 1140px;
		margin: 0 auto;
	}
	&_mt {
		margin-top: 20px;
	}
}