.header {
	position: relative;
	height: 56px;
	&__menu {
		position: fixed;
		z-index: 5;
		background-color: rgb(28, 31, 33);
		width: 100%;
		margin: 0 auto; 
	}
	&__wrapper {
		width: 600px;
		height: 56px;
		margin: 0 auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		transition: 0.3s all;
		a {
			font-weight: 700;
			font-size: 16px;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			span {
				color: #CC3300;
			}
		}
	}
}