.news {
	padding-top: 30px;
	padding-bottom: 30px;
	min-height: 500px;
	background: #000;
	&__title {
		display: block;
		min-height: 80px;
		max-width: 950px;
		border-radius: 5px;
		margin: 0 auto;
		padding: 10px 10px 0 10px;
		text-align: center;
		color: #fff;
		background: url('../img/sky_in_window.jpg') center center/cover no-repeat;
		font-weight: 500;
		font-size: 40px;
		span {
			color: #CC3300;
			font-weight: 700;
		}
	}
	&__block {
		max-width: 950px;
		margin: 0 auto;
		margin-top: 20px;
		padding: 30px;
		background-color: #fff;
		border-style: solid;
		border-color: #fff;
		border-radius: 15px;
		// background: url('../icons/key_2.jpg') center center/90px repeat;

	}
	&__header {
		font-size: 32px;
		font-weight: 600;
		
	}
	&__line {
		height: 2px;
		background-color: #000;
	}
	&__descr {
		font-size: 23px;
		font-weight: 400;
		line-height: 30px;
		img {
			float: left;
			margin: 10px;
			max-width: 320px;
			border-radius: 5px;
		}
		span {
			color: #CC3300;
		}
	}
}