.news {
	min-height: 500px;
	padding-top: 20px;
	background-color: #000;
	&__block {
		border-radius: 15px;
		max-width: 950px;
		background-color: #fff;
		margin: 0 auto;
	}	
	&__header {
		padding-top: 25px;
		padding-bottom: 25px;
		background: url('../img/blue_sky.jpg') center center/cover no-repeat;
		min-height: 100px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		h2 {
			font-weight: 700;
			font-size: 40px;
			text-align: center;
			text-transform: uppercase;
		}
	}
	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		background: url('../img/news_img/collage_black.JPEG') center center/200px repeat;
		border-bottom-left-radius: 13px;
		border-bottom-right-radius: 13px;
		border-top-right-radius: 13px;
	}
	&__img {
		border-bottom-left-radius: 13px;
		max-width: 475px;
		img {
			max-width: 100%;
			border-bottom-left-radius: 13px;
		}
	}
	&__text {
		padding: 10px;
		max-width: 475px;
		background-color: #fff;
		border-bottom-right-radius: 13px;
	}
	&__subheader {
		text-transform: uppercase;
		font-size: 32px;
	}
	&__descr {
		font-size: 18px;
		line-height: 21px;
	}
}